{{template "layout.html" .}}

{{define "content"}}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Town</th>
        </tr>
    </thead>
    <tbody>
        {{range .Customers}}
        <tr>
            <td>{{.CustomerID}}</td>
            <td>{{.FirstName}}</td>
            <td>{{.LastName}}</td>
            <td>{{.Address}}</td>
            <td>{{.Town}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}